<launch>
    <!-- launch teleop joy node -->
    <include file="$(find teleop_twist_joy)/launch/teleop.launch" />

    <!-- cmd vel convertor -->
    <node pkg="sabertooth_ctrl" name="cmd_vel_convertor" type="cmd_vel_to_diff_wheels.py" output="screen"/>

    <!-- sabertooth node -->
    <node pkg="sabertooth_ctrl" name="sabertooth_control" type="sabertooth_node.py" output="screen"/>
</launch>


